* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-X: hidden;
    scroll-behavior: smooth;
}

/*---- HEADER ----*/

.container-header {
    width: 100%;
    height: 10%;
}

.contents-header {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: -0.7%;
}

.right-header {
    width: 56%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.right-header ul {
    margin: 0;
    list-style: square url("./img/square-bullet.PNG");
    padding: 0;
}

.ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    width: 450px;
    margin: 0 auto;
}

li {
    display: inline;
    float: left;
    padding: 15px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

li:hover, li:focus, li:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

li a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

.right-header li {
    margin: 7px;
    padding: 0;
    color: #949494;
}

.right-header li:hover {
    color: #3acaee;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #7d7d7d;
}

nav a:hover {
    color: #3acaee;
}

.top-info {
    padding: 10px;
    height: 50%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.top-info .quote {
    padding: 4px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gray {
    background: #efefef;
    border-radius: 10px 10px 10px 156px;
    font-weight: bold;
    width: 150px;
    position: relative;
    top: 0;
    right: -20px;
}

.blue {
    background: #00bae9;
    border-radius: 10px 10px 156px 156px;
    position: relative;
    width: 230px;
    top: 0;
    color: #fff;
}

.top-info .blue a {
    color: #fff;
}

.top-info .gray a {
    color: #7d7d7d;
    margin-left: 3px;
}

/*---- CAROUSEL ----*/

.container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 40%;
    user-select: none;
    background-color: #1c1c1c;
}

.container input {
    display: none;
}

.container .slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container .slide_img img {
    width: inherit;
    height: inherit;
}

.container .slide_img .prev, .container .slide_img .next {
    width: 10%;
    height: inherit;
    position: absolute;
    top: 0;
    transition: .45s;
    cursor: pointer;
    text-align: center;
}

.container .slide_img .next {
    right: 0;
}

.container .slide_img .prev {
    left: 0;
}

.container .slide_img .prev span, .container .slide_img .next span {
    position: absolute;
    width: 0;
    height: 0;
    border: solid 20px;
    top: 50%;
    transform: translateY(-50%);
}

.container .slide_img .prev span {
    border-color: transparent #fff transparent transparent;
    right: 35%;
}

.container .slide_img .next span {
    border-color: transparent transparent transparent #fff;
    left: 35%;
}

.container #nav_slide {
    width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
}

.container #nav_slide .dots {
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 3px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .4s;
    cursor: pointer;
}

.container #nav_slide #dot1:hover {
    background: #795548;
}

.container #nav_slide #dot2:hover {
    background: #F44336;
}

.container #nav_slide #dot3:hover {
    background: #2196F3;
}

.container #nav_slide #dot4:hover {
    background: #4CAF50;
}

#i1:checked~#one, #i2:checked~#two, #i3:checked~#three, #i4:checked~#four {
    z-index: 9;
    animation: scroll 1s ease-in-out;
}

#i1:checked~#nav_slide #dot1 {
    background: #795548;
}

#i2:checked~#nav_slide #dot2 {
    background: #F44336;
}

#i3:checked~#nav_slide #dot3 {
    background: #2196F3;
}

#i4:checked~#nav_slide #dot4 {
    background: #4CAF50;
}

@keyframes scroll {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

.carousel-text {
    width: 35%;
    height: 51%;
    border-radius: 70px 10px 70px 10px;
    background: rgba(0, 173, 230, 0.70);
    position: absolute;
    left: 19%;
    top: 23%;
    color: #fff;
    padding: 1%;
}

.carousel-text h3 {
    color: #fff;
    font-size: 2.5em;
    margin-top: 5px;
    margin-left: 5%;
}

.carousel-text h6 {
    margin-left: 5%;
    margin-bottom: 4%;
}

.carousel-text .learn {
    border-color: #fff;
    color: #fff;
    font-weight: bold;
    margin-left: 5%;
}

.carousel-text .learn::after {
    content: "";
}

@media screen and (max-width: 685px) {
    .container {
        border: none;
        width: 100%;
        height: 0;
        padding-bottom: 55%;
    }
    .container .slide_img .prev, .container .slide_img .next {
        width: 10%;
    }
    .container .slide_img .prev span, .container .slide_img .next span {
        border: solid 12px;
    }
    .container .slide_img .prev span {
        border-color: transparent #fff transparent transparent;
    }
    .container .slide_img .next span {
        border-color: transparent transparent transparent #fff;
    }
    .container #nav_slide .dots {
        width: 12px;
        height: 12px;
    }
}

/*---- SECTION 2 ----*/

.container2 {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background: url(img/Rectangle\ 4\ copy\ 6.1.png);
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: .7px solid #000;
}

.rows {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* .rows:not(:last-child) {
  margin-bottom: 8rem;
} */

@media only screen and (max-width: 56.25em) {
    .rows {
        max-width: 50rem;
        padding: 0 30rem;
    }
}

.rows::after {
    content: "";
    display: table;
    clear: both;
}

.rows [class^="col-"] {
    float: left;
}

.rows [class^="col-"]:not(:last-child) {
    margin-right: 4rem;
    margin-bottom: 4rem;
    align-self: center;
}

@media only screen and (max-width: 56.25em) {
    .rows [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width: 56.25em) {
    .rows [class^="col-"] {
        width: 100% !important;
    }
}

.rows .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
}

.rows .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
    text-align: center;
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.about {
    background: url(img/Rectangle\ 4\ copy\ 6.1.png);
    display: inline-block;
}

.rows .col p {
    font-size: 19px;
}

p {
    margin-top: 1em;
    margin-bottom: -0.5em;
}

h3 {
    font-family: 'gotham_bookregular', sans-serif;
    color: #50C2DD;
}

.rows .col img {
    background: url(img/Ellipse\ 1\ copy.png)
}

a .learn {
    border-radius: 0 15px 0 15px;
    padding: 7px 20px;
    background-color: #00ade6;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}

.center-text {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    width: 70%;
    color: #7d7d7d;
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    display: inline-block;
    letter-spacing: .2rem;
}

.learn {
    border-width: .05em;
    border-style: solid;
    border-color: black;
    border-radius: 30px 0px 30px 0px;
    padding: .6rem;
    /* background-color: #F44336; */
    color: #7d7d7d;
    border-color: #7d7d7d;
}

.learn::after {
    content: " >";
    display: inline-block;
}

.learn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

h1 span {
    background: url(img/Rectangle\ 4\ copy\ 6.1.png);
    padding: 0 10px;
}

.rows h6 {
    color: #7d7d7d;
}

/*---- SECTION 3 ----*/

h1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h6 {
    font-size: 1em;
    font-weight: normal;
    margin-top: 7px;
}

h4 {
    color: #7d7d7d;
}